
/*==============================================
   Theme Color Css
===============================================*/
.thm-clr{
    color: #fab70c;    
}




.mobile-menu .navigation li.current > a, 
.mobile-menu .navigation li > a:hover {
    color: #fab70c;
}
.owl-nav-style-one.owl-theme .owl-nav .owl-prev:hover:before{
    color: #fab70c;    
}
.outer-search-box-style1 .seach-toggle:hover,
.outer-search-box-style1 .seach-toggle.active{
    border-color: #fab70c;
}
.owl-carousel.owl-dot-style1 .owl-dots .owl-dot{
    background: #fab70c;
}
.mobile-menu .navigation li > a:before {
    border-left: 5px solid #fab70c;
}







/*==============================================
   Theme Hover Color Css
===============================================*/
.main-menu .navigation>li:hover>a,
.main-menu .navigation>li.current>a{
	color: #fab70c;
}
.main-menu .navigation>li>ul>li>a:hover {
	color: #fab70c;
}
.main-menu .navigation> li> ul> li> a:before{
    color: #fab70c;
}
.main-menu .navigation> li> ul> li:hover > a{
	color: #fab70c;
}
.main-menu .navigation> li> ul> li> ul> li> a:hover {
	color: #fab70c;
}
.main-menu .navigation>li>ul>li>ul>li a:before{
    color: #fab70c;
}
.sticky-header .main-menu .navigation>li:hover>a, 
.sticky-header .main-menu .navigation>li.current>a {
    color: #fab70c;
}


.main-menu.style3 .navigation>li:hover>a,
.main-menu.style3 .navigation>li.current>a{
	color: #fab70c;
}
.main-menu.style3 .navigation>li>ul>li>a:hover {
	color: #fab70c;
}
.main-menu.style3 .navigation> li> ul> li> a:before{
    color: #fab70c;
}
.main-menu.style3 .navigation> li> ul> li:hover > a{
	color: #fab70c;
}
.main-menu.style3 .navigation> li> ul> li> ul> li> a:hover {
	color: #fab70c;
}
.main-menu.style3 .navigation>li>ul>li>ul>li a:before{
    color: #fab70c;
}
.sticky-header .main-menu.style3 .navigation>li:hover>a, 
.sticky-header .main-menu.style3 .navigation>li.current>a {
    color: #fab70c;
}



.main-menu.style4 .navigation>li:hover>a,
.main-menu.style4 .navigation>li.current>a{
	color: #fab70c;
}
.main-menu.style4 .navigation>li>ul>li>a:hover {
	color: #fab70c;
}
.main-menu.style4 .navigation> li> ul> li> a:before{
    color: #fab70c;
}
.main-menu.style4 .navigation> li> ul> li:hover > a{
	color: #fab70c;
}
.main-menu.style4 .navigation> li> ul> li> ul> li> a:hover {
	color: #fab70c;
}
.main-menu.style4 .navigation>li>ul>li>ul>li a:before{
    color: #fab70c;
}
.sticky-header .main-menu.style4 .navigation>li:hover>a, 
.sticky-header .main-menu.style4 .navigation>li.current>a {
    color: #7e9d11;
}

























/*==============================================
   Theme Background Css
===============================================*/
.thm-bgclr{
    background-color: #fab70c;
}







/*==============================================
   Theme Hover Background Color Css
===============================================*/
.overlay-bgc1{
    background-color: #fab60ca2;
}
.overlay-bgc2{
    background-color: rgba(0, 0, 0, 0.70);
}
.testimonial-style2-area .layer-outer::before {
    background: rgba(28, 99, 184, 0.95);
}
.footer-area.style2:before {
    background-color: rgba(28, 99, 184, 0.95);
}
.single-work-process.style2 .icon-holder{
    border: 15px solid rgba(28, 99, 184, 0.10);
}
.single-work-process.style2 .icon-holder .inner{
    border: 15px solid rgba(28, 99, 184, 0.20);
}



/*==============================================
   Theme Border Color Css
===============================================*/







/*==============================================
   Theme Other Color, Background, Hover, Active Css
===============================================*/
.header-upper-right:before {
    background: #fab70c;
}
.header-lawer-right .button a:hover{
    color: #fab70c;
}
.main-slider.style1 .content{
    border-top: 7px solid #fab70c;
}
.btn-one:before{
    background: #fab70c;
}
.btn-one:hover:after{
    background: #fab70c;
}
.about-style1-text-box .title h5 {
    color: #fab70c;
}
.sec-title .border-box:before{
    background: #fab70c;
}
.sec-title .border-box:after{
    background: #fab70c;
}
.single-service-style1 .img-holder .title:before{
    background: #fab70c;
}
.project-tabs .tab-buttons .tab-btn:hover,
.project-tabs .tab-buttons .tab-btn.active-btn{
	color: #fab70c;
}
.latest-project-style1-area .bg-color {
    background: #fab70c;
}
.single-team-member .img-holder:before{
    border: 3px solid #fab70c; 
}
.single-team-member .title-holder p{
    color: #fab70c;
}
.testimonial-carousel .owl-nav button.owl-prev:before{
    border: 2px solid #fab70c;
}
.testimonial-carousel .owl-nav button.owl-next:before{
    border: 2px solid #fab70c;
}
.testimonial-carousel .owl-nav button span{
    color: #fab70c;
}
.testimonial-carousel .owl-nav button p{
    color: #fab70c;
}
.single-blog-post .text-holder .meta-info li a:hover{
    color: #fab70c;        
}
.single-blog-post .text-holder .blog-title a:hover{
    color: #fab70c;       
}
.footer-social-links .social-links ul li a:hover{
    color: #fab70c;      
}
.single-footer-widget .latest-news li .title-box h4 a:hover{
    color: #fab70c;
}
.single-footer-widget .services-links li a:hover{
    color: #fab70c;       
}
.slider-box-style2 .content{
    border-top: 7px solid #fab70c;
}
.video-holder-box.style2 .icon .inner a {
    background: #fab70c;
}
.mainmenu-area .outer-box .top ul li a:hover{
    color: #fab70c;      
}
.mainmenu-area .outer-box .bottom .right .button a:before{
    background-color: #fab70c;
}
.slider-box-style2 .owl-theme .owl-nav .owl-prev:before{
    background-color: #fab70c;
}
.slider-box-style2 .owl-theme .owl-nav .owl-next:hover:before{
    background-color: #fab70c;    
}
.about-style2-right-box ul li .inner .icon span:before {
    color: #fab70c;
}
.about-style2-right-box ul li:before{
    background-color: #fab70c;
}
.project-filter li .filter-text:before{
    background-color: #fab70c;  
}
.single-project-style2 .overlay-content .box ul li a{
    color: #fab70c;  
}
.slogan-content:before{
    background-color: #fab70c;
}
.single-price-box .value h2 {
    color: #fab70c;
}
.single-price-box:after{
    background: #fab70c;
}
.single-price-box:hover:before{
    background: #fab70c;
}
.header-contact-info-style2 ul li a:hover{
    color: #fab70c;        
}
.header-social-links ul li a:hover{
    color: #fab70c;       
}
.header-lawer-style2{
    background: #fab70c;
}
.owl-nav-style-one.owl-theme .owl-nav .owl-prev:hover:after, 
.owl-nav-style-one.owl-theme .owl-nav .owl-next:hover:after {
    border-color: #fab70c;
    background: #fab70c;
}
.about-style3-tab-box .tab-buttons .tab-btn:hover:before,
.about-style3-tab-box .tab-buttons .tab-btn.active-btn:before{
    background: #fab70c;    
}
.video-holder-box-style3 .icon .inner a span:before {
    background: #fab70c;
}
.about-style3-tab-box .tabs-content .inner-content ul li:hover:before{
    color: #fab70c;      
}
.testimonial-carousel-style2.owl-nav-style-one.owl-theme .owl-nav .owl-prev:hover:after, 
.testimonial-carousel-style2.owl-nav-style-one.owl-theme .owl-nav .owl-next:hover:after {
    border: 1px solid #fab70c;
    background-color: #fab70c;
}
.subscribe-area .subscribe-form:before{
    border: 1px dashed #fab70c;
}
.subscribe-area .subscribe-form button:before {
    background-color: #fab70c;
}
.header-contact-info-style3 ul li a:hover{
    color: #fab70c;        
}
.header-social-links-style2 ul li a:hover{
    color: #fab70c;       
}
.main-menu.style4 .navigation>li>a:after {
    background-color: #fab70c;
}
.header-lawer-right-style3 .button a:before{
    background-color: #fab70c;
}
.about-style4-content .text-box ul li:before {
    color: #fab70c;   
}
.about-style4-content .img-box:before {
    background: #fab70c;
}
.progress-levels .progress-box .bar .bar-fill{
	background: #fab70c;
}
.single-project-style3 .overlay-content .box ul li a:hover{
    background-color: #fab70c;
}
.service-menu-box ul li a:after {
    background-color: #fab70c;
}
.brochures-box ul li a span:before {
    color: #fab70c;
}
.brochures-box ul li a:hover:after{
    border-color: #fab70c;
    background-color: #fab70c;
}
.working-topics-content-box .text-holder ul li:before {
    color: #fab70c;    
}
.vehicle-year .ui-slider-handle:before {
    background-color: #fab70c;
}
.appointment-form .dropdown-item {
    background-color: #fab70c !important;
}
.select-services-box input[type="checkbox"]:checked + label span {
    border-color: #fab70c;
    background-color: #fab70c;
}
.faq-content-box-two .accordion-box .accordion .accord-btn::after {
    color: #fab70c;    
}
.sidebar-search-box .search-form button {
    background-color: #fab70c;
}
.sidebar-wrapper .single-sidebar .title:before{
    background-color: #fab70c;
}
.single-sidebar .categories li a:hover{
    color: #fab70c;       
}
.single-sidebar .categories li a:before{
    color: #fab70c;    
}
.single-sidebar .recent-posts li .title-box h4 a:hover{
    color: #fab70c;        
}
.single-sidebar .popular-tag li a:hover{
    border-color: #fab70c;
    background-color: #fab70c;
}
.blog-single-area .blog-post .single-blog-post .text-holder .blog-title {
    color: #fab70c;
}
.tag-social-share-box .tag ul li a:hover{
    color: #fab70c;          
}
.tag-social-share-box .social-share .sociallinks li a:hover{
    color: #fab70c;        
}
.blog-single-author-box .inner .text-box .sociallinks li a:hover{
    color: #fab70c;       
}
.blog-single-prev-next-button .title-box p a:hover{
    color: #fab70c;        
}
.blog-single-prev-next-button .title-box h3 a:hover{
    color: #fab70c;      
}
.comment-box .single-comment-box .text-holder .top .reply-button a{
    color: #fab70c;    
}
.contact-information-box .follow-us .social-links ul li a:hover{
    color: #fab70c;    
}
.project-social-share .social-links ul li a:hover{
    color: #fab70c;      
}
.testimonial-social-links ul li a:hover{
    color: #fab70c;        
}
.slider-social-links ul li a:hover{
    color: #fab70c;        
}
.styled-pagination li a:hover:before,
.styled-pagination li a.active:before{
    border-color: #fab70c;    
}
.styled-pagination li.prev a:hover:before,
.styled-pagination li.next a:hover:before{
    background-color: #fab70c;    
}








