@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon.eot");
  src: url("../fonts/flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticon.woff") format("woff"),
       url("../fonts/flaticon.ttf") format("truetype"),
       url("../fonts/flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon.svg#Flaticon") format("svg");
  }
}



[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-style: normal;
}








.flaticon-allah-word:before { content: "\f100"; }
.flaticon-multiply:before { content: "\f101"; }
.flaticon-clock:before { content: "\f102"; }
.flaticon-pin:before { content: "\f103"; }
.flaticon-plus:before { content: "\f104"; }
.flaticon-minus:before { content: "\f105"; }
.flaticon-play-button:before { content: "\f106"; }
.flaticon-play-button-1:before { content: "\f107"; }
.flaticon-star-of-favorites-outline:before { content: "\f108"; }
.flaticon-next:before { content: "\f109"; }
.flaticon-search:before { content: "\f10a"; }
.flaticon-bag:before { content: "\f10b"; }
.flaticon-quote:before { content: "\f10c"; }
.flaticon-star:before { content: "\f10d"; }
.flaticon-favourite:before { content: "\f10e"; }
.flaticon-planet-earth:before { content: "\f10f"; }
.flaticon-quote-2:before { content: "\f110"; }
.flaticon-next-1:before { content: "\f111"; }
.flaticon-file:before { content: "\f112"; }
.flaticon-doc:before { content: "\f113"; }
.flaticon-link:before { content: "\f114"; }
.flaticon-call:before { content: "\f115"; }
.flaticon-pin-1:before { content: "\f116"; }
.flaticon-calendar:before { content: "\f117"; }
.flaticon-verified:before { content: "\f118"; }
.flaticon-technician:before { content: "\f119"; }
.flaticon-fun:before { content: "\f11a"; }
.flaticon-completed:before { content: "\f11b"; }
.flaticon-trophy:before { content: "\f11c"; }
.flaticon-user:before { content: "\f11d"; }
.flaticon-conversation:before { content: "\f11e"; }
.flaticon-heart:before { content: "\f11f"; }
.flaticon-event:before { content: "\f120"; }
.flaticon-maps-and-flags:before { content: "\f121"; }
.flaticon-phone:before { content: "\f122"; }
.flaticon-mail:before { content: "\f123"; }
.flaticon-business:before { content: "\f124"; }
.flaticon-support:before { content: "\f125"; }
.flaticon-car-parts:before { content: "\f126"; }
.flaticon-quote-1:before { content: "\f127"; }
.flaticon-time:before { content: "\f128"; }
.flaticon-computer:before { content: "\f129"; }
.flaticon-car-service:before { content: "\f12a"; }
.flaticon-box:before { content: "\f12b"; }
.flaticon-car-insurance:before { content: "\f12c"; }
.flaticon-plan:before { content: "\f12d"; }
.flaticon-tyre:before { content: "\f12e"; }
.flaticon-car:before { content: "\f12f"; }
.flaticon-check-mark:before { content: "\f130"; }
.flaticon-project:before { content: "\f131"; }
.flaticon-tick:before { content: "\f132"; }
.flaticon-hubcap:before { content: "\f133"; }
.flaticon-excel:before { content: "\f134"; }
.flaticon-pdf-file:before { content: "\f135"; }
.flaticon-plus-1:before { content: "\f136"; }
.flaticon-minus-1:before { content: "\f137"; }
.flaticon-chat:before { content: "\f138"; }
.flaticon-open-folder-outline:before { content: "\f139"; }
.flaticon-share:before { content: "\f13a"; }